{
  "printWidth": 100,
  "arrowParens": "always",
  "bracketSameLine": true,
  "singleQuote": false,
  "quoteProps": "consistent",
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
