@font-face {
  font-family: "DynaPuff";
  src: url("/In-Sync/fonts/DynaPuff-Variable.ttf") format("truetype");
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  /* https://colorhunt.co/palettes/neon */
  --font-family: "DynaPuff", sans-serif;
  --background-color: #160f2f;
  --primary-highlight-color: #008bff;
  --secondary-highlight-color: #f6850c;
  --text-color: #e4ff30;
  font-family: var(--font-family) !important;
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

.overflow {
  overflow: auto;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

input,
button,
textarea {
  font-family: var(--font-family) !important;
}
