@font-face {
  font-family: "DynaPuff";
  src: url("/In-Sync/fonts/DynaPuff-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "Original Surfer";
  src: url("/In-Sync/fonts/OriginalSurfer-Regular.ttf") format("truetype");
  font-weight: 400;
}

html,
body {
  font-family: "Original Surfer", sans-serif !important;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  /* https://colorhunt.co/palettes/neon */
  --background-color: #39b1d1;
  --primary-highlight-color: #f6850c;
  --secondary-highlight-color: #de3e3e;
  --text-color: #d6fb61;
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

.dynapuff {
  font-family: "DynaPuff", "Original Surfer", sans-serif !important;
  font-weight: bold;
}

.overflow {
  overflow: auto;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

input,
button,
textarea {
  font-family: "Original Surfer", sans-serif !important;
}
