# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

# Node
/node_modules
npm-debug.log
yarn-error.log

# LMMS
LMMS/*.bak