<img id="in-sync-logo" src="logos/in-sync.gif" alt="In Sync logo." />
<div id="title" class="flex-row">
  <span class="h1">In&nbsp;</span>
  <span class="h1">Sync</span>
</div>
<div id="main-menu" class="flex-column">
  <button id="new-game-button" (click)="newGame()" [disabled]="loading()">New Game</button>
  <form [formGroup]="joinGameForm" (ngSubmit)="joinGame()" class="flex-column">
    <div class="flex-column">
      <label for="game-code-input">Game Code</label>
      <input id="game-code-input" [formControl]="joinGameForm.controls.gameCode" />
    </div>
    <button id="join-game-button" type="submit" [disabled]="joinGameForm.invalid || loading()">
      Join Game
    </button>
  </form>
</div>
