:host {
  justify-content: center;
  align-items: center;
  text-align: center;
}

#title {
  color: var(--primary-highlight-color);
  font-size: 75px;
  font-weight: 100;
  z-index: 1;
}

#title > span:first-child {
  animation: inflate 1s cubic-bezier(0, 0, 0.1, 1) 0s 1 forwards;
  transform: scale(0);
}

#title > span:last-child {
  animation: inflate 1s cubic-bezier(0, 0, 0.1, 1) 1250ms 1 forwards;
  transform: scale(0);
}

#in-sync-logo {
  min-width: 256px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transform: translateY(-1000px);
  animation: lower-disco-ball 3s ease-in-out 1500ms 1 forwards;
}

@keyframes inflate {
  to {
    transform: none;
    font-weight: bold;
  }
}

@keyframes lower-disco-ball {
  to {
    transform: none;
  }
}
