<div class="padding"></div>
@if (status() === GameStatus.PLAYER_FORM) {
  <app-player-form [gameCode]="gameCode()" (submitted)="playerJoined($event)"></app-player-form>
} @else if (status() === GameStatus.LOBBY) {
  <div id="lobby" class="flex-column">
    <div class="lobby-title flex-row">
      <span class="h2">{{ gameCode() }}</span>
      <app-icon-button
        [icon]="Icon.SHARE"
        size="36px"
        title="Copy link"
        (clicked)="shareGameCode()"></app-icon-button>
    </div>
    <div class="lobby-players flex-row">
      @for (player of players(); track player) {
        <div class="lobby-player">
          <span>{{ player }}</span>
        </div>
      }
    </div>
    @if (isAdmin()) {
      <span class="h4">Lobby Settings</span>
      <form id="lobby-settings-form" class="flex-column" [formGroup]="lobbySettingsForm">
        <div class="flex-row checkbox-container">
          <input
            id="play-lobby-rhythm-input"
            type="checkbox"
            [formControl]="lobbySettingsForm.controls.playLobbyRhythms" />
          <label for="play-lobby-rhythm-input">Play Lobby Music</label>
        </div>
      </form>
      <span class="h4">Game Settings</span>
      <form id="lobby-form" class="flex-column" [formGroup]="gameSettingsForm" (ngSubmit)="start()">
        <div class="flex-row checkbox-container">
          <input
            id="random-player-order-input"
            type="checkbox"
            [formControl]="gameSettingsForm.controls.randomPlayerOrder" />
          <label for="random-player-order-input">Random Player Order</label>
        </div>
        <div class="flex-column">
          <label for="song-type-select">Song Type</label>
          <select id="song-type-select">
            <!-- @for (type of Object.keys(SongType); track $index) {} -->
          </select>
        </div>
      </form>
      <button id="start-game-button" type="submit">Start</button>
    }
    <button id="leave-lobby-button" (click)="leave()">Leave</button>
  </div>
}
<div class="padding"></div>
