:host {
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

#lobby {
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.appear {
  transition: none;
  visibility: visible !important;
}

.disappear {
  visibility: hidden !important;
  transition: visibility 500ms step-end;
}

#settings {
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  top: -50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 50px 10px;
  gap: 20px;
  background-color: var(--dark-blue) !important;
  border-radius: 10px;
  width: min-content;
  transition: top 500ms ease-in-out;
}

.scroll-into-view {
  top: 50% !important;
}

.scroll-out-of-view {
  top: -50% !important;
}

#close-settings-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

#lobby-title {
  align-items: center;
  gap: 20px;
}

#lobby-icons {
  align-items: center;
  gap: 10px;
}

.lobby-players {
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.lobby-player {
  border-radius: 50%;
  box-sizing: border-box;
  padding: 15px;
}

@keyframes beat {
  30% {
    transform: scale(1.03);
  }
  70% {
    transform: scale(1.15);
  }
  90% {
    transform: scale(1.03);
  }
}

.lobby-player:nth-child(7n) {
  background-color: var(--white);
  color: var(--blue);
}

.lobby-player:nth-child(7n + 1) {
  background-color: var(--yellow);
  color: var(--dark-blue);
}

.lobby-player:nth-child(7n + 2) {
  background-color: var(--blue);
  color: var(--yellow);
}

.lobby-player:nth-child(7n + 3) {
  background-color: var(--orange);
  color: var(--dark-blue);
}

.lobby-player:nth-child(7n + 4) {
  background-color: var(--red);
  color: var(--yellow);
}

.lobby-player:nth-child(7n + 5) {
  background-color: var(--green);
  color: var(--dark-blue);
}

.lobby-player:nth-child(7n + 6) {
  background-color: var(--pink);
  color: var(--white);
}

#game-settings-form,
#lobby-settings-form {
  align-items: center;
  gap: 20px;
}

.checkbox-container {
  align-items: center;
  gap: 5px;
  user-select: none;
}

.checkbox-container > * {
  cursor: pointer;
}

.checkbox-container > input {
  width: 20px;
  height: 20px;
  margin: 0px;
}
